<p>header works!</p>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Covid19 Logo"
    src="assets/img/covid-19.svg"
  />
  <span>Tracker</span>
    <div class="spacer"></div>
    <a aria-label="application source code in github" target="_blank" rel="noopener" href="https://github.com/kumaran-is/covid-tracker" title="Twitter">
      <img src="assets/img/github-logo.svg">
    </a>
    <a aria-label="follow my twitter account" target="_blank" rel="noopener" href="https://twitter.com/kumaranis" title="Twitter">
      <img src="assets/img/twitter-logo.svg">
    </a>
</div>

